doctype
html(lang=config.language)
    head
        include head.pug
    body
        if !is_home()
            .wrap
                header
                    a(href='https://news.wp-kr.com/', target='_blank')
                        h1.title=theme.title
                    include nav.pug
                main.container
                    block container
                footer
                    block pagination
                    block copyright
